<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>cadastro</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form method="post" action="/usuarios/cadastrar" class="login-form">
        <input type="text" placeholder="E-mail" name="nome"/>
        <input type="password" placeholder="Senha" name="senha"/>
        <input type="password" placeholder="Senha novamente" name="senha2"/>
        <input type="submit" value="login" action="/usuarios/cadastrar"/>
        <p class="message">Não é registrado? <a href="#">Crie uma conta</a></p>
      </form>
    </div>
  </div>
</body>
</html>