<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Autenticação</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="pessword"/>
        <input type="text" placeholder="email address"/>
      </form>
      <form method="post" action="/logar" class="login-form">
        <input type="text" placeholder="E-mail"/>
        <input type="password" placeholder="Senha"/>
        <input type="submit" value="login">
        <p class="message">Não é registrado? <a href="#">Crie uma conta</a></p>
      </form>
    </div>
  </div>
</body>
</html>